.comment-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 8px;
    padding: 15px 5px;
}

.text-input {
    border: none;
    outline: none;
}

.action-box {
    position: relative;
    padding: 10px;
}

.image-btn {
    position: absolute;
    bottom: -.5rem;
    left: 0;
    border: none;
    background-color: white;
    cursor: pointer;
}

.image-btn-img {
    width: 15px;
}

.comment-btn {
    position: absolute;
    bottom: -.5rem;
    right: 0;
    border: none;
    color: white;
    background-color: #414040;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}